* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif !important;
}

.cursor {
  cursor: default;
}

.menu {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3e1ff), color-stop(#f4e6ff), color-stop(#f6eaff), color-stop(#f7efff), to(#f9f3ff));
  background-image: linear-gradient(to bottom, #f3e1ff, #f4e6ff, #f6eaff, #f7efff, #f9f3ff);
}

.links {
  color: black;
}
.links:active {
  color: #9538b3;
  text-decoration: none;
}
.links:visited {
  color: #606060;
  text-decoration: none;
}
.links:hover {
  -webkit-animation: menu-mov 0.3s ease 0s 1 normal forwards;
          animation: menu-mov 0.3s ease 0s 1 normal forwards;
  color: #d22dff;
  text-decoration: none;
}

@-webkit-keyframes menu-mov {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -3px);
            transform: translate(-1px, -3px);
  }
  60% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes menu-mov {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -3px);
            transform: translate(-1px, -3px);
  }
  60% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.menu-btn:hover {
  background-color: #f3e2ff;
  border: white;
  border-radius: 0.5rem;
  -webkit-animation: menu-mov 0.3s ease 0s 1 normal forwards;
          animation: menu-mov 0.3s ease 0s 1 normal forwards;
}

.dropdown-item:hover {
  /* Modifica clase bootstrap ... color del selector */
  background-color: #f3e2ff;
  -webkit-animation: menu-mov 0.3s ease 0s 1 normal forwards;
          animation: menu-mov 0.3s ease 0s 1 normal forwards;
}

.dropdown-menu {
  /* Modifica clase bootstrap ... Fondo blur */
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#banner1 {
  background-image: url("../assets/img/back.webp");
  height: 60vh;
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
  -webkit-animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
          animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
}

#banner-porta {
  background-image: url("../assets/img/i1.webp");
  height: 60vh;
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat;
  -webkit-animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
          animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
}

#banner-combo {
  background-image: url("../assets/img/combo-bg.webp");
  height: 60vh;
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat;
  -webkit-animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
          animation: myAnimBanner 10s ease-in 0s 1 normal forwards;
}

@-webkit-keyframes myAnimBanner {
  0% {
    background-position: center top;
    background-size: 100%;
  }
  100% {
    background-position: center top;
    background-size: 150%;
  }
}

@keyframes myAnimBanner {
  0% {
    background-position: center top;
    background-size: 100%;
  }
  100% {
    background-position: center top;
    background-size: 150%;
  }
}
.boton-mushi {
  color: white;
  background-color: #9538b3;
}
.boton-mushi:hover {
  background-color: #e3a0f6 !important;
}

.banner-text {
  text-align: center;
  font-size: 13vw;
  font-weight: bold;
  color: white;
  padding: 0 5vh 0 5vh;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293);
  background-color: rgba(121, 46, 146, 0.4470588235);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1rem;
}

#contacto {
  background-image: url(../assets/img/contacto.webp);
  background-size: cover;
  height: 100vh;
}

#nosotros {
  background-image: url(../assets/img/nos1.webp);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.212);
}

.foot {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e1ff), color-stop(#f4e6ff), color-stop(#f6eaff), color-stop(#f7efff), to(#f9f3ff));
  background-image: linear-gradient(to top, #f3e1ff, #f4e6ff, #f6eaff, #f7efff, #f9f3ff);
}

.foot-btn:hover {
  -webkit-animation: foot-mov 0.3s ease 0s 1 normal forwards;
          animation: foot-mov 0.3s ease 0s 1 normal forwards;
  color: #d22dff;
  text-decoration: none;
}

@-webkit-keyframes foot-mov {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes foot-mov {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@media (max-width: 456px) {
  .banner-text {
    padding: 0 2vh 0 2vh;
  }

  #banner1 {
    -webkit-animation: none;
            animation: none;
  }

  #banner-porta {
    -webkit-animation: none;
            animation: none;
  }
}