#banner1 {
    @include banner ("../assets/img/back.webp", 60%)
}

#banner-porta {
    @include banner ("../assets/img/i1.webp", center !important)
}

@keyframes myAnimBanner {
    0% {
        background-position: center top;
        background-size: 100%;
    }

    100% {
        background-position: center top;
        background-size: 150%;
    }
}

.boton-mushi {
    color: white;
    background-color: $color-link-active;

    &:hover {
        background-color: $color-link-hover-claro !important;
    }
}


.banner-text {
    text-align: center;
    font-size: 15vw;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293);
    background-color: #792e9272;
    backdrop-filter: blur(5px);
}

#contacto {
    background-image: url(../assets/img/contacto.webp);
    background-size: cover;
    height: 100vh;
}

.glass {
    @include glass
}