#banner1 {
    @include banner ("../assets/img/back.webp", 60%);
}

#banner-porta {
    @include banner ("../assets/img/i1.webp", center !important);
}

#banner-combo {
    @include banner ("../assets/img/combo-bg.webp", center !important);
}



.boton-mushi {
    color: white;
    background-color: $color-link-active;

    &:hover {
        background-color: $color-link-hover-claro !important;
    }
}


.banner-text {
    text-align: center;
    font-size: 13vw;
    font-weight:bold;
    color: white;
    margin: 0 5vw 0 5vw;
    padding: 0 5vw 0 5vw;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293);
    background-color: #792e9272;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}

#contacto {
    background-image: url(../assets/img/contacto.webp);
    background-size: cover;
    height: 100vh;
    overflow-y: auto;

}

#contacto-form {
    height: 90%;
}


#nosotros{
    background-image: url(../assets/img/nos1.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
}

.nosotros-txt {
    @include bann-grad;
    border-radius:0 !important; 
}

.glass {
    @include glass
}


.porta-txt {
    @include bann-grad;
    
    div {
        div{
            h1{
                font-size: 28px;
                margin-bottom: 1.5vw;
            }
            h2{
                font-size: 18px;

            }
            h3{
                font-size: 1rem;
                margin-bottom: 1.5vw;

            }
        }
    }

}
.bottom-txt {
    @include bann-grad;
    
    div {
        div{
            
            h2{
                font-size: 18px;

            }
            h3{
                font-size: 1rem;

            }
        }
    }

}


#staticBackdrop {
    background-color: rgba(50, 1, 57, 0.422);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.cards{
    div{
        

        div{
            padding: 0;
            overflow: hidden;
            border-radius: 6px;
            margin: 1vw;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293) ;
            transition: box-shadow 0.5s ;
            &:hover{
                box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.597) ;
                
            }
            

            img {
                width: 100%;
                height: 100%;
                transition: transform 0.5s, filter 0.5s ; 
                filter: saturate(100%);
                


                &:hover{
                    transform: scale(120%);
                    filter: saturate(150%);
                }
            }
        }
    }
}
