#banner1 {
    @include banner ("../assets/img/back.webp", 60%)
    div{
        div{
            div{
                font-size: 13vw;
            }
        }
    }
}

#banner-porta {
    @include banner ("../assets/img/i1.webp", center !important);
    div{
        div{
            div{
                font-size: 13vw;
            }
        }
    }
}

#banner-combo {
    @include banner ("../assets/img/combo-bg.webp", center !important)
    div{
        div{
            div{
                font-size: 13vw;
            }
        }
    }
}



.boton-mushi {
    color: white;
    background-color: $color-link-active;

    &:hover {
        background-color: $color-link-hover-claro !important;
    }
}


.banner-text {
    text-align: center;
    font-size: 13vw;
    font-weight:bold;
    color: white;
    padding: 0 5vh 0 5vh;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293);
    background-color: #792e9272;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}

#contacto {
    background-image: url(../assets/img/contacto.webp);
    background-size: cover;
    height: 100vh;
}

#nosotros {
    background-image: url(../assets/img/nos1.webp);
    background-size: cover;
    background-position: bottom;
    height: 100vh;

}


.glass {
    @include glass
}


.porta-txt {
    background-image: $gradient-banner; 
    border-radius: 3vw;
    
    padding: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    div {
        div{
            h1{
                font-weight: bold;
            }
        }
    }

}

#staticBackdrop {
    background-color: rgba(50, 1, 57, 0.422);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#cards{
    div{
        

        div{
            padding: 0;
            overflow: hidden;
            border-radius: 1.5vw;
            margin: 1vw;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.293) ;
            
            

            img {
                width: 100%;
                height: 100%;
                transition: transform 0.5s, filter 0.5s ; 
                filter: saturate(100%);
                


                &:hover{
                    transform: scale(120%);
                    filter: saturate(150%);
                }
            }
        }
    }
}
