//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fuentes
$fuente_principal: 'Roboto', sans-serif !important;

html {
  font-family: $fuente_principal
}

.cursor {
  cursor: default;
}