@media (max-width: 456px) {
  .banner-text {
    padding: 0 2vh 0 2vh;
    
}

  #banner1 {
    animation: none
  }

  #banner-porta {
    animation: none
  }
}

@media (max-width: 567px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}