$banner-font: 24px;

@media (max-width: 567px) {

  .banner-text {
    font-size: 12vw;
  }

    .banner-text {
    padding: 0 2vw 0 2vw;
    }

  #banner1 {
    div{
      div{
        img{
          margin-top: 5vh;
          width: 80vw;
        }
        h2 {
          padding-top: 2vw;
          margin-bottom: 5vh;
          font-size: $banner-font;
        }
      }
    }
  }


  #banner-porta {
    animation: none
  }

  #franja1 {
    
    h2 {
      font-size: $banner-font;
      font-weight: bold;
    }
  
  }

  #franja2 {

    h2 {
      font-size: $banner-font;
    }
  }
  
}





@media (min-width: 567px) {
  .banner-text {
    font-size: 9vw;
  }

  .banner-logo {
    margin: 0 1vw 0 1vw;
    padding: 0 1vw 0 1vw;
  }

  #banner1 {
    div{
      div{
        img{
          margin-top: 5vh;
          width: 65vw;
        }
        h2 {
          padding-top: 2vw;
          margin-bottom: 5vh;
          font-size: calc( 5px + $banner-font);
        }
      }
    }
  }
  #franja1 {
    
    h2 {
      font-size: calc( 5px + $banner-font);
      font-weight: bold;
    }
  
  }

  #franja2 {

    h2 {
      font-size: calc( 5px + $banner-font);
    }
  }
}






@media (min-width: 768px) {

  .banner-text {
    font-size: 8vw;
  }

  .banner-logo {
    margin: 0 1vw 0 1vw;
    padding: 0 1vw 0 1vw;
  }

  #banner1 {
    div{
      div{
        img{
          margin-top: 5vh;
          width: 65vw;
        }
        h2 {
          padding-top: 2vw;
          margin-bottom: 5vh;
          font-size: calc( 7px + $banner-font);
        }
      }
    }
  }
  #franja1 {
    
    h2 {
      font-size: calc( 7px + $banner-font);
      font-weight: bold;
    }
  
  }

  #franja2 {

    h2 {
      font-size: calc( 7px + $banner-font);
    }
  }
}







@media (min-width: 992px) {
  .banner-text {
    font-size: 7vw;
  }

  #banner1 {
    div{
      div{
        img{
          margin-top: 5vh;
          width: 50vw;
        }
        h2 {
          padding-top: 2vw;
          margin-bottom: 5vh;
          font-size: calc( 20px + $banner-font);
        }
      }
    }
  }
  #franja1 {
    
    h2 {
      font-size: calc( 20px + $banner-font);
      font-weight: bold;
    }
  
  }

  #franja2 {

    h2 {
      font-size: calc( 20px + $banner-font);
    }
  }
}








@media (min-width: 1200px) {
  .banner-text {
    font-size: 7vw;
  }

  #banner1 {
    div{
      div{
        
        h2 {
          padding-top: 2vw;
          margin-bottom: 5vh;
          ffont-size: calc( 20px + $banner-font);
        }
      }
    }
  }

  #franja1 {
    
    h2 {
      font-size: calc( 20px + $banner-font);
      font-weight: bold;
    }
  
  }

  #franja2 {

    h2 {
      font-size: calc( 20px + $banner-font);
    }
  }
}






@media (min-width: 1400px) {}