$gradient-bottom: linear-gradient(to bottom, #f3e1ff, #f4e6ff, #f6eaff, #f7efff, #f9f3ff);
$gradient-top: linear-gradient(to top, #f3e1ff, #f4e6ff, #f6eaff, #f7efff, #f9f3ff);
$color-link: black;
$color-link-active: #9538b3;
$color-link-visited: #606060;
$color-link-hover: #d22dff;
$color-link-hover-claro: #e3a0f6;
